body {
  background: #222;
  color: white;
}


img {
  max-width: 100%;
}
/* Code Under This Line */

/*
  Colors:
  #FFED5D
  #FF7050
  #222
  #7BBADE
*/

.box-model {
  width: 50%;
  margin: auto;
}

.a {
  background: #FFED5D;
  padding: 20px;
}

.b {
  background: #FF7050;
  padding: 20px;
}

.c {
  background: #222;
  padding: 20px;
}

.d {
  background: #7BBADE;
  padding: 20px;
}
